PORT=5000
# your secure SFU host
SFU_WS_HOST="wss://my_secure_sfu_websocket"

# comma separated list of URLs
STUN_SERVERS="stun1.l.google.com:19302,stun2.l.google.com:19302"

# your secure TURN host
#TURN_HOST="turn:turn.sivert.io" 
#TURN_USERNAME="simpvert" # if using credentials, remove otherwise
#TURN_PASSWORD="berPer123" # if using credentials, remove otherwise